In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import os
import openpyxl
import re

In [15]:
df = pd.read_excel("../data/kosdaq_ROE_11_upper.xlsx")
df.head()

   Unnamed: 0       종목명   종목코드  2017  2018  2019  2020  2021  average     산업
0          10      리노공업  58470  18.8  19.8  18.8  17.4  30.0    20.96    반도체
1          17     동진쎄미켐   5290  19.7  16.9  17.8  21.6  20.8    19.36    반도체
2          20  JYP Ent.  35900  21.4  22.5  21.9  17.3  22.5    21.12  오락,문화
3          22    아프리카TV  67160  23.2  26.6  32.5  27.6  42.6    30.50  소프트웨어
4          34      티씨케이  64760  28.8  28.4  23.2  24.7  27.7    26.56    반도체

In [16]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df.head()

        종목명   종목코드  2017  2018  2019  2020  2021  average     산업
0      리노공업  58470  18.8  19.8  18.8  17.4  30.0    20.96    반도체
1     동진쎄미켐   5290  19.7  16.9  17.8  21.6  20.8    19.36    반도체
2  JYP Ent.  35900  21.4  22.5  21.9  17.3  22.5    21.12  오락,문화
3    아프리카TV  67160  23.2  26.6  32.5  27.6  42.6    30.50  소프트웨어
4      티씨케이  64760  28.8  28.4  23.2  24.7  27.7    26.56    반도체

In [17]:
df = df.astype({"종목코드":"string"})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   종목명      54 non-null     object
 1   종목코드     54 non-null     string
 2   2017     54 non-null     float64
 3   2018     54 non-null     float64
 4   2019     54 non-null     float64
 5   2020     54 non-null     float64
 6   2021     54 non-null     float64
 7   average  54 non-null     float64
 8   산업       54 non-null     object
dtypes: float64(6), object(2), string(1)
memory usage: 3.9+ KB

In [18]:
for i in range(7):
    df["종목코드"] = df["종목코드"].str.zfill(i)
df.head()

        종목명    종목코드  2017  2018  2019  2020  2021  average     산업
0      리노공업  058470  18.8  19.8  18.8  17.4  30.0    20.96    반도체
1     동진쎄미켐  005290  19.7  16.9  17.8  21.6  20.8    19.36    반도체
2  JYP Ent.  035900  21.4  22.5  21.9  17.3  22.5    21.12  오락,문화
3    아프리카TV  067160  23.2  26.6  32.5  27.6  42.6    30.50  소프트웨어
4      티씨케이  064760  28.8  28.4  23.2  24.7  27.7    26.56    반도체

In [19]:
df1 = df.copy()

In [20]:
df1["산업"].unique()

array(['반도체', '오락,문화', '소프트웨어', '기타서비스', '제약', '디지털컨텐츠', '의료,정밀기기', '소매',
       '도매', '섬유,의류', '기계,장비', '일반전기전자', '환경', '기타제조', '종합건설', '음식료,담배',
       '사업지원', '전문기술', '금융', '인터넷', '화학', 'IT부품', '연구,개발', '교육',
       '출판,매체복제'], dtype=object)

In [21]:
df1["산업"].value_counts()

반도체        13
제약          3
음식료,담배      3
의료,정밀기기     3
사업지원        3
디지털컨텐츠      2
기타서비스       2
전문기술        2
일반전기전자      2
화학          2
인터넷         2
금융          2
소프트웨어       2
도매          2
교육          1
연구,개발       1
IT부품        1
환경          1
종합건설        1
기타제조        1
오락,문화       1
기계,장비       1
섬유,의류       1
소매          1
출판,매체복제     1
Name: 산업, dtype: int64